---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-bemade-org-v1alpha1-odooinstance
  failurePolicy: Fail
  name: vodooinstance.kb.io
  rules:
  - apiGroups:
    - bemade.org
    apiVersions:
    - v1alpha1
    operations:
    - UPDATE
    resources:
    - odooinstances
  sideEffects: None
