# apiVersion: admissionregistration.k8s.io/v1
# kind: ValidatingWebhookConfiguration
# metadata:
#   name: {{ .Release.Name }}-validating-webhook
#   namespace: {{ .Release.Namespace }}
#   labels:
#     app: {{ .Release.Name }}
#   annotations:
#     cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ .Release.Name }}-webhook-cert
# webhooks:
#   - name: validate-odooinstances.bemade.org
#     admissionReviewVersions:
#       - v1
#       - v1beta1
#     clientConfig:
#       service:
#         name: {{ .Release.Name }}-webhook
#         namespace: {{ .Release.Namespace }}
#         path: /validate
#         port: 443
#     rules:
#       - apiGroups:
#           - bemade.org
#         apiVersions:
#           - v1
#         operations:
#           - CREATE
#           - UPDATE
#         resources:
#           - odooinstances
#         scope: Namespaced
#     sideEffects: None
#     timeoutSeconds: 30
#     failurePolicy: Fail