---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  - services
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - watch
- apiGroups:
  - bemade.org
  resources:
  - odoobackupjobs
  - odooinitjobs
  - odooinstances
  - odoorestorejobs
  - odooupgradejobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - bemade.org
  resources:
  - odoobackupjobs/finalizers
  - odooinitjobs/finalizers
  - odooinstances/finalizers
  - odoorestorejobs/finalizers
  - odooupgradejobs/finalizers
  verbs:
  - update
- apiGroups:
  - bemade.org
  resources:
  - odoobackupjobs/status
  - odooinitjobs/status
  - odooinstances/status
  - odoorestorejobs/status
  - odooupgradejobs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
